services:
  # --- 1. LOAD BALANCER & PROXY ---
  nginx:
    image: nginx:latest
    container_name: nubo_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api1
      - api2
      - minio
    restart: always

  # --- 2. APIS (Go) ---
  api1:
    build: .
    container_name: nubo_api1
    # ICI : On charge ton fichier .env
    env_file:
      - .env
    depends_on:
      - minio
      - postgres
      - redis
      - mongo
    restart: always

  api2:
    build: .
    container_name: nubo_api2
    # ICI : Idem, même fichier .env
    env_file:
      - .env
    depends_on:
      - minio
      - postgres
      - redis
      - mongo
    restart: always

  # --- 3. STOCKAGE MINIO ---
  minio:
    image: minio/minio
    container_name: nubo_minio
    command: server /data --console-address ":9001"
    expose:
      - "9000" # API S3 (Interne)
    ports:
      - "9001:9001" # Console Admin
    # ICI : MinIO va lire MINIO_ROOT_USER et PASSWORD depuis le .env
    env_file:
      - .env
    volumes:
      - minio_data:/data
    restart: always

  # Utilitaire d'initialisation (Création du bucket)
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    env_file:
      - .env
    # On utilise les variables du .env ici ($MINIO_ROOT_USER, etc.)
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 $MINIO_ROOT_USER $MINIO_ROOT_PASSWORD;
      /usr/bin/mc mb --ignore-existing myminio/$MINIO_BUCKET_NAME;
      /usr/bin/mc policy set download myminio/$MINIO_BUCKET_NAME;
      exit 0;
      "
  redis:
    image: redis:7
    container_name: nubo_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  postgres:
    image: postgres:16
    container_name: nubo_postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: nubo_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@nubo.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_CONSOLE_LOG_LEVEL: 10
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
      PGADMIN_CONFIG_SESSION_EXPIRATION_TIME: 86400  # 24h
      PGADMIN_CONFIG_SESSION_COOKIE_LIFETIME: 86400  # 24h
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    ports:
      - "8082:80"
  
  mongo:
    image: mongo:7
    container_name: nubo_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - ./mongo-data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: nubo_mongo_express
    environment:
      ME_CONFIG_BASICAUTH_USERNAME: root
      ME_CONFIG_BASICAUTH_PASSWORD: example
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_SERVER: mongo
    ports:
      - "8083:8081"
    depends_on:
      - mongo

  redis-commander:
    image: ghcr.io/joeferner/redis-commander:latest  # version ARM64 compatible
    container_name: nubo_redis_commander
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - redis
volumes:
  redis_data:
  postgres_data:
  mongo_data:
  minio_data:
  pgadmin_data:

